body{
  position: relative;
  background: hsl(233, 47%, 7%);
  font-family: 'Lexend Deca', sans-serif;
  /* font-family: 'Inter', sans-serif; */
  font-weight: lighter;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  overflow-x: hidden;
}

h1{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  color: White;
  /* padding: 0 0 1em 0; */
}
 p{
  line-height: 1.5em;
 }


.container{
  position: relative;
  /* background: yellow; */
  width: 100vw;
  height: 100vh;
}

.card{
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 100%; */
  grid-template-areas: "text img";
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translateX(-50%); */
  transform: translate(-50%, -50%);
  width: 1111px;
  height: 446px;
  background: hsl(244, 38%, 16%);
  border-radius: 15px;
}

.card-text{
  grid-area: text;
  position: relative;
  width: 100%
}

.text-box {
  position: relative;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  /* background: blue; */
  width: 75%;
  height: 65%;
}

.tb-title{
  font-size: 39px;
}

.tb-title span{
  color: rgb(177, 98, 226);
}

.tb-paragraph{
  padding: 5% 0;
  font-size: 16px
}

.ct-list-title{
  font-size: 25px;
}

.ct-list{
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 90%;
}


.ct-list li{
  display: inline-block;
}

.ct-list li p{
  text-transform: uppercase;
  font-weight: 100;
  padding-top: 5px;
  font-size: 15px;
}
/* .card-img-filter{
  width: 540px;
  height:
} */

.card-img{
  text-align: right;
}

.card img{
  grid-area: img;
  border-radius: 0 15px 15px 0;
  /* filter: sepia(100%) hue-rotate(190deg) saturate(500%);  */
  filter: sepia(100%) hue-rotate(230deg) saturate(350%) contrast(80%) brightness(65%);

}

footer{
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  color: lightcyan;
}

@media screen and (max-width: 480px) {
  .container{
    width: 100%;
    height: 965px;
  }

  .card{
    grid-template-columns: 1fr;
    grid-template-rows: 240px 780px;
    /* grid-template-rows: 100%; */
    grid-template-areas: "img"
                         "text";
    width: 90%;
    height: 800px;
    margin-top: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    /* transform: translateX(-50%); */
    transform: translate(-50%, -50%);
    background: hsl(244, 38%, 16%);
    border-radius: 15px;
    overflow:scroll;
  }

  .card-text{
    height: 540px;
    text-align: center;
  }

  .text-box{
    top:40%;
    text-align: center;
    width: 95%;
    margin: auto;
  }

  .text-box h1{
    font-size: 32px;
  }

  .tb-paragraph{
    font-size: 17px;
  }

  .ct-list {
    flex-direction: column;
    position: unset;
    width: 100%;
  }

  .ct-list .ct-list-title{
    font-size: 25px;
  }

  .ct-list li{
    display: block;
    padding: 2.5% 0;
  }

  .card img{
    width: 100%;
    height: 240px;
    border-radius: 15px 15px 0 0;
  }


  /* .card img{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .container{

  }

  .card{
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 780px;
    margin-top: 0;
  }

  .card-text{
    display: block;
    width: 100%;

  } */
}
