body{
  position: relative;
  /* background: hsl(233, 47%, 7%); */
}

.container{
  background: yellow;
  width: 100vw;
  height: 100vh;
}

.card{
  display: flex;
  width: 1111px;
  height: 446px;
  background: pink;
  border-radius: 15px;
}

.card img{
  border-radius: 0 15px 15px 0;
}

footer{
  position: absolute;
}
